[alias]
    st = status
    a = "!git status --short | awk '{print $2}' | fzf | xargs git add"
    d = diff
    ci = commit
    ca = commit -a
    co = checkout
    ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
    pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    l = log --pretty=format:'%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%Creset' --graph --date=relative --decorate --all
    br = branch
    ba = branch -a
    bm = branch --merged
    bn = branch --no-merged
    open = "!hub browse"

[http]
    sslbackend = openssl
    sslVerify = true

[credential]
    helper = store

[core]
    pager = delta
    excludesfile = /home/whitez/.gitignore_global

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto

[merge]
    conflictstyle = diff3

[core]
    pager = delta
    editor = nvim

[interactive]
    diffFilter = delta --color-only --features=interactive

[delta]
    features = collared-trogon
    navigate = true

[delta "interactive"]
    keep-plus-minus-markers = false

[delta "decorations"]
    commit-decoration-style = blue ol
    commit-style = raw
    file-style = omit
    hunk-header-decoration-style = blue box
    hunk-header-file-style = red
    hunk-header-line-number-style = "#067a00"
    hunk-header-style = file line-number syntax

[diff]
    tool = nvimdiff

[difftool "nvimdiff"]
    cmd = nvim -d \"$LOCAL\" \"$REMOTE\"
    path = 
