[alias]
    st = status
    a = "!git status --short | grep '^.[^ ]' | grep -v '^A' | awk '{print $2}' | fzf --multi --preview 'git diff --color=always {}' --bind K:preview-up,J:preview-down | xargs git add"
    d = diff
    ci = commit
    ca = commit -a
    co = checkout
    ps = "!git push origin $(git rev-parse --abbrev-ref HEAD)"
    pl = "!git pull origin $(git rev-parse --abbrev-ref HEAD)"
    l = log --pretty=format:'%Cgreen%h %Creset%cd %Cblue[%cn] %Creset%s%C(yellow)%d%Creset' --graph --date=relative --decorate --all
    br = branch
    open = "!hub browse"

[http]
    sslbackend = openssl
    sslVerify = true

[core]
    editor = nvim

[credential]
    helper = store

[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
    ui = auto
